# Ignore the investing virtual environment
investing_env/
models/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Pytest cache
.pytest_cache/

# Environment files
.env
.venv/
env/
venv/

# mypy
.mypy_cache/
.dmypy.json

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Logs
*.log

# Streamlit cache
.streamlit/

# Ignore compiled C files
*.so